      <!-- Video Banner -->
      <section class="tm-banner-section" id="tmVideoSection" style="height: 600px;">
        <div class="container tm-banner-text-container">
          <div class="row">
            <div class="col-12">
              <header>
                <h2 class="tm-banner-title">Pro Line Video</h2>
                <p class="mx-auto tm-banner-subtitle">
                  The video background has a parallax effect. This is fluid and
                  full-width.
                </p>
              </header>
            </div>
          </div>
        </div>
  
        <!-- Video -->
        <video id="hero-vid" autoplay="" loop="" muted>
          <source src="assets/videos/city-night-blur-01.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </section>
